<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IAP_Dialog_Buy</key>
	<string>Buy</string>
	<key>IAP_Dialog_Cancel</key>
	<string>Cancel</string>
	<key>IAP_Upgrade_Description</key>
	<string>You need to buy pro version to unlock stage 2 ~ 6. Please consider doing so, as it really helps us to keep improving the game for you.</string>
	<key>IAP_Restore_Description</key>
	<string>If you have already made this purchase, use this to restore your purchase.</string>
	<key>IAP_Purchase_Success_Description</key>
	<string>Purchase completed.Thanks for your support!</string>
	<key>IAP_Purchase_Fail_Description</key>
	<string>There is a problem with your transaction.</string>
	<key>IOS_Rate_Us_Description</key>
	<string>Please rate this game. Your feedback means alot to us, thanks.</string>
	<key>IOS_Rate_Us_Yes</key>
	<string>Rate Now</string>
	<key>IOS_Rate_Us_No</key>
	<string>Don&apos;t Ask Me Again</string>
	<key>Share_Content</key>
	<string>Your IQ has beaten 1% of the other players. Really a strange game!~ iOS: http://t.cn/zHxvAtt</string>
	<key>Share_Success</key>
	<string>Share successful!</string>
	<key>Share_Fail</key>
	<string>Share failed.</string>
	<key>App_Name</key>
	<string>Strange Adventure</string>
	<key>Green_Content</key>
	<string>A fatal exception 0E has occurred at 0157:BF7FF831.  The current
application will be terminated.
        
*  Press any key to terminate the current application.
*  Press CTRL+ALT+DEL again to restart your computer.  You will
lose any unsaved information in all applications.
        
Press any key to continue _
</string>
	<key>Prompt_Content_1_1</key>
	<string>１．はてなブロックを叩いてはいけない
２．みぞの手前に隠しブロックがある
３．雲、鍵、草を触ってはいけない
４．土管の間に入ってはいけない
５．１番目の土管の右端に隠しブロックがある
６．２番目の土管からロケットがでる
７．姫様の手前に落とし穴がある</string>
	<key>Prompt_Content_1_2</key>
	<string>１．ハンドルをタッチして、ワナ看板を落とす
２．ワナ看板の右側に隠しブロックがある
３．はてなブロックを叩いてはいけない
４．はてなブロックの左側に隠しブロックがある
５．壁の上に針があり、立ってはいけない
６．バネの上に立ってはいけない
７．みぞの手前に隠しブロックがある
８．草の上のブロックは左右移動する
９．離れた左ブロックの右端に隠しブロックがある
１０．姫様の正面から迎えてはいけない</string>
	<key>Prompt_Content_1_3</key>
	<string>１．時計を先に射殺する</string>
	<key>Prompt_Content_1_4</key>
	<string>１．はてなブロックを叩いてはいけない
２．はてなブロックから素早く看板に乗る
３．ブロック橋に乗ってから素早くジャンプ
４．２番目のブロック橋の左側に隠しブロックがある
５．隠しブロックに乗ってスライムを避ける
６．壁の左側２つ隠しブロックがある
７．隠しブロックに乗ってジャンプで壁を越す</string>
	<key>Prompt_Content_1_5</key>
	<string>１．素早２回ジャンプして土管に乗る
２．三つ目のコインに隠しブロックがある
３．みぞをジャンプ戻してロケットを出させる
４．みぞの右側１，２と５，６，７が沈む
５．４番目のブロックの右端に隠しブロックがある
６．隠しブロックに乗って姫様を迎える</string>
	<key>Prompt_Content_1_6</key>
	<string>１．はてなブロックに乗って隠しブロックを叩き出す
２．はてなブロックを28回叩く
３．右側のはてなブロックを叩いて素早く乗る</string>
	<key>Prompt_Content_2_1</key>
	<string>１．反対側へ移動する
２．２番目の踏み台からジャンプしてはいけない
３．姫様の手前のブロックは爆発する</string>
	<key>Prompt_Content_2_2</key>
	<string>１．少し進んでジャンプ戻して２番目のロケットを避ける
２．３番目のロケットを避けたらJumpボタンが右上に移動
３．２番目のみぞの手前に隠しブロックがある
４．現れる姫様は偽物である
５．上のブロック橋に乗って右へ移動する
６．看板の上には乗ってはいけない</string>
	<key>Prompt_Content_2_3</key>
	<string>１．薬と薬品を飲んではいけない
２．アルバガの顔をタップ</string>
	<key>Prompt_Content_2_4</key>
	<string>１．指で看板を移動する</string>
	<key>Prompt_Content_2_5</key>
	<string>１．勇敢でロケットを向かって突く
２．土管から２匹のスライムを避ける
３．ロケットに乗って移動する
４．はてなブロックの左右のブロックが安全
５．姫様の直前に戦車が出たらはてなブロックに乗る</string>
	<key>Prompt_Content_2_6</key>
	<string>１．落ち着いてスライムを避ける
２．一列のスライムは指でタップでストップする</string>
	<key>Prompt_Content_3_1</key>
	<string>１．本レベルはジャンプタイミングが大事
２．みぞの直前に隠しブロックがある
３．４番目の踏み台に乗ってはいけない
４．３番目までのスライムを無視して直行
５．４番目のスライムを避けたらジャンプ</string>
	<key>Prompt_Content_3_2</key>
	<string>１．後ろに下げてロケットを踏み台で橋に乗る
２．２番目の土管をジャンプ戻して毒花を出させる
３．草をジャンプ戻して踏み台を移動させる
４．土管の右端から踏み台の左端にジャンプ
５．みぞの右端に隠しブロックがある
６．土管からスライムが出たら、隠しブロックに乗って避ける
７．ジャンプアタックでハンドルを壊す</string>
	<key>Prompt_Content_3_3</key>
	<string>１．本レベルは通常のプレイではクリアできない
２．正しい鍵は左上の戻るボタンを２回押してトップにある</string>
	<key>Prompt_Content_3_4</key>
	<string>１．本レベルは、落ち着くのが大事
２．避けるコツは２ブロックずつ移動
３．１番目のはてなブロックを叩く
４．はてなブロックにあるダイヤを取る
５．ダイヤを持って戻る
６．画面の左端から後ろジャンプして姫様が現れる</string>
	<key>Prompt_Content_3_5</key>
	<string>１．本レベルは、左右キーの入れ替えに要注意
２．１番目のハンドルをジャンプアタックして壊す
３．２番目のハンドルは左右キーを入れ替える
４．落とし針が落として来たら素早くバックする
５．先に進むと土台が沈む、素早くジャンプする
６．２番目の落とし針が落としてきたら素早くバックしてジャンプ
７．次のみぞの手前に隠しブロックがある
８．次ハンドルからスライムが出る</string>
	<key>Prompt_Content_3_6</key>
	<string>１．正解は右側の ThankCreate である</string>
	<key>Prompt_Content_4_1</key>
	<string>１．本レベルは、不思議な技を使う
２．はてなブロックを叩いて赤いはてなを食う
３．勇敢で真ん中をジャンプして身を踏み台に変身
４．前回の身を踏み台として針をジャンプ越す
５．ハンドルの踏み台の右端に隠しブロックがある
６．隠しブロックからハンドルに３回ジャンプアタック
７．靴を履いてダッシュ、アルバガが追いてきたらバック</string>
	<key>Prompt_Content_4_2</key>
	<string>１．本レベルは楽譜の知識が必要である
２．楽譜により、ブロックを順番に叩く(順番: 1155665443322)
３．姫様を指でタップ</string>
	<key>Prompt_Content_4_3</key>
	<string>１．本レベルは、落ち着いてやりましょう
２．スタート直後1回Switchする
３．Switchが右上に移動され、最少２回押す
４．Switchが右下に移動され、方向調整して前進
５．真ん中のボロックと拳銃を無視して一列のスライムまで前進
６．スライムら上部の左右のブロックを無視して突き破る</string>
	<key>Prompt_Content_4_4</key>
	<string>１．スタート直後、逆さのはてなブロックに乗ってジャンプ
２．はてなブロックが灰色になったら、ブロックと一緒に移動
３．２番目の逆さのはてなブロックをジャンプしてロケットが現れる
４．ロケットに乗って移動、スライムらの真ん中時ジャンプする
５．ロケットに乗って移動、みぞを越した直後ジャンプして上の橋に乗る
６．先頭の２つブロックと後ろの２つブロックが安全、真ん中が沈む</string>
	<key>Prompt_Content_4_5</key>
	<string>１．懐かしいレベルですが、ワナである
２．まずは真ん中の５つスライムを射殺
３．左手の親指で右キーを押す、同時に右手の親指を画面上左右スライドしてスライムらを抹殺</string>
	<key>Prompt_Content_4_6</key>
	<string>１．本レベルを挑戦したあなたは、きっと開発者を殴りたくなる
２．スタート直後、画面の上部を素早く３回上向きにフリックする
３．上部の針がストップしてから、画面の底側からのはてなブロックの出現を待つ
４．はてなブロックが現れたら、素早く３回下向きにフリックする
５．現在は、上下の針ともに停止され、はてなブロックをタップ
６．左の針に向かって勇敢でダッシュ、あなたの姫様はあそこだよ</string>
	<key>Prompt_Content_5_1</key>
	<string>１．１番目のはてなブロックの左側のブロックをジャップで届かないところまで叩く
２．１番目のはてなブロックを叩く
３．２番目のはてなブロックの左側のブロックを届かないところまで叩く
４．２番目のはてなブロックを叩いてはいけない
５．穴から上部にジャンプし、叩いた２番目のブロックを届かないところまで叩く
６．この２つブロックを踏み台としてジャンプ、踏み台に乗って下部へ移動
７．最初のSaveフラグが偽物、１回ジャンプして避ける
８．踏み台をジャンプアタックして、下の土台まだ下げる
９．真ん中のはてなブロックを２回叩いて潰す、ジャンプしてアルバガが現れたら、また下に降りる
１０．土台の右端に隠しブロックがある
１１．上の橋に乗って、橋の右端に隠しブロックがある
１２．スライムが襲ってきたらバックジャンプ
１３．上部を通って姫様のシーンに到達
１４．姫様の手間の２つの土管の両端が安全</string>
	<key>Prompt_Content_5_2</key>
	<string>１．本レベルは、一定の記憶力が求められる
２．画面上１５枚カードしかないため、隠しペアがある
３．カード7ペア(2-14), (3-6), (10-13),(1-5),(4-7),(9-11), (12-15)
４．隠し3ペア(8-左の姫様), 左の文字(ペア-ペア), 時間切れ時(泣く顔-泣く顔)</string>
	<key>Prompt_Content_5_3</key>
	<string>１．右側の人の話を無条件に同意がコツである
２．１問目を聞かれたら、左側の人の頭を下向けにフリックで同意
３．２問目を聞かれたら、左側の人の頭を左右でスライドで不同意</string>
	<key>Prompt_Content_5_4</key>
	<string>１．土管から飛び降るまえに、土管を指で下向きにフリックする
２．左右キーをストップキーになり、動きを制御する
３．ハンドルを避けて、１番目のはてなのまえにストップ
４．２番目のはてなを叩き、ジャンプでスライムを毒から避ける
５．姫様を前から迎えてはいけない
６．前進して、土管を指で下に下げ、右のバネで戻る
７．前進して上の橋の乗って、はてなブロックを叩いて金貨をゲット
８．前進してバネでまた切り換え、はてなブロックを避ける
９．一番右に前進し、バネで切り換えて、姫様を迎える</string>
	<key>Prompt_Content_5_5</key>
	<string>１．スライムらを右から襲ってくる、花と大砲を配置して攻撃
２．金貨が足りなかったら、前のレベルを再度挑戦して金貨を取ろう</string>
	<key>Prompt_Content_5_6</key>
	<string>１．１頭目のアルバガがジャンプ時で避けられる
２．２頭目のアルバガの口に、左上の音量ボタンをタップしてからドラッグ
３．３頭目のアルバガの足に、左上の戻るボタンをドラッグ</string>
</dict>
</plist>
